################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Region5/config/applicationhost.config
/.vs/Region5/v16/Server/sqlite3/db.lock
/.vs/Region5/v16/Server/sqlite3/storage.ide-shm
/.vs/Region5/v16/Server/sqlite3/storage.ide
/.vs/Region5/v16/Server/sqlite3/storage.ide-wal
